.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* Adjust the number of columns as needed */
  gap: 10px;
  /* Adjust the gap between items as needed */
  justify-content: center;
  justify-items: center;
}

.grid-item {

  align-content: center;
  background-color: #ffee62;
  box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.2);
  height: auto;
  width: auto;
  text-align: center;
  /* border-radius: 15%;
  border-color: #e3d44d; */
  
}

.grid-item.in-battle {
  height: fit-content;
  margin-bottom: 10%;
}

.body {
  background-color: #ffd966;
}

.titlePokedex {
  text-align: center;
  color: rgb(255, 255, 255);
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
  background-color: rgb(6, 6, 128);
  width: 15%;
  box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.5);
  margin-top: 10px;
  border-radius: 50%;
  margin-left: 42%;
  padding: 10px;
}

.imgPokedex {
  display: block;
  margin-left: 42%;
  width: 250px;
}

.myElement {
  color: rgb(35, 42, 152);
  font-weight: bold;
  text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
}

.App {
  /* Set the background image URL and other properties as needed */
  background-color: white;
  height: 100vh;
  /* Adjust the height as needed */
}

p {
  color: #523929;
  font-weight: 400;
}

span {
  color: rgb(244, 20, 20);
  font-weight: bold;
  font-size: large;
}

.playGame {
  width: 140px;
  height: 40px;
  text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);

  gap: 10px;
  padding: 0px 15px;
  background-color: rgb(6, 6, 128);
  border-radius: 10px;
  border: none;
  color: white;
  margin-left: 45%;
  cursor: pointer;
  font-weight: 900;
  transition-duration: 0.2s;
  box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.2);
  margin-top: 10px;
}

.playGame path {
  color: white;
}

.playGame .arrow {
  position: absolute;
  right: 0;
  padding: 0px 5px;
  width: 30px;
  height: 100%;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.playGame:hover,
.playGame:focus {
  background-color: #523929;
  transition-duration: 0.2s;
}

.playGame:hover .arrow {
  animation: slide-right 0.6s ease-out both;
}

/* arrow animation */
@keyframes slide-right {
  0% {
    transform: translateX(-10px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.playGame:active {
  transform: translate(1px, 1px);
  transition-duration: 0.2s;
}

/* Define keyframes for fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Define keyframes for cinematic wipe animation */
@keyframes wipeCinematicIn {
  0% {
    clip-path: inset(100% 0 100% 0);
  }

  100% {
    clip-path: inset(0 0 0 0);
  }
}

/* Apply the animation to the content you want to wipe in */
.page-transition {
  animation: wipeCinematicIn 1s ease-in-out;
  /* You can adjust the duration and timing function */
}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

img.vert-move {
  -webkit-animation: mover 2s infinite alternate;
  animation: mover 0.5s infinite alternate;
}

@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-30px);
  }
}

@keyframes mover {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10px);
  }
}

.type-test {
  padding: 5px;
  align-content: center;
  background-color: rgb(52, 193, 249);
  border-radius: 50%;
  width: 50%;
  margin-left: 23%;
  font-weight: bold;
  color: rgb(255, 255, 255);
  box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.2);
  text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
}

.type-test.fire {
  background-color: rgb(255, 140, 0);
}

.type-test.water {
  background-color: aqua;
}

.type-test.bug {
  background-color: green;
}

.type-test.flying {
  background-color: rgb(201, 201, 201);
}

.type-test.electric {
  background-color: yellow;
}

.type-test.normal {
  background-color: rgb(133, 75, 33);
}

.type-test.poison {
  background-color: purple;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 100px;
  font-size: 10px;
  background-color: #e3d44d;
  box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.2);
  padding: 10px;
}

.pokemon-in-battle {
}

.textInBattle {
  font-size: 20px;
  font-weight: bold;
}

.grid-item {
  -webkit-perspective: 1000;
 
}
/* flip the picture when hover */

.grid-item:hover .flipper,
.grid-item.hover .flipper {
  -webkit-transform: rotateY(180deg);
}

.grid-item,
.front,
.back,
img {
 
}
/* flip speed */

.flipper {
  -webkit-transition: 0.2s;
  -webkit-transform-style: preserve-3d;
  
}
/* hide back  during flip */

.front,
.back {
  -webkit-backface-visibility: hidden;
  top: 0;
  left: 0;
  
}
/* front placed above back */

.front {
  z-index: 2;
}
/* back, initially hidden */

.back {
  -webkit-transform: rotateY(180deg);
  position: absolute;
}
.back img {
  height: 230px;
  width: auto;
  object-fit: contain;
  
}