.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Adjust the number of columns as needed */
  gap: 10px; /* Adjust the gap between items as needed */
  justify-content: center;
  justify-items: center;
}

.grid-item {
  display: block;
  border: 1px solid #FFD966;
  padding: 10px;
 align-content: center;
 background-color: #FFF2CC;
 box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.5);
 height: 90%;
 width: 50%;
 text-align: center;
}

.body{
  background-color: #FFD966;
}

.titlePokedex{

  text-align: center;
  color: purple;
  display: block;
  position: inherit;
  margin-top: 10px;
  margin-bottom: 10px;
}

.myElement {
  color: purple;
  font-weight: bold;
 }

 .App{
   /* Set the background image URL and other properties as needed */
   background: url('https://pbs.twimg.com/media/FVdYl2SUUAA1Pe3.png:large') center/cover no-repeat;
   /* Additional styling if needed */
   height: 100vh; /* Adjust the height as needed */

   
 }